<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.tea.admin.server.content.dao.persist.mapper.CategoryMapper">

    <!-- TagStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            id, name, parent_id, depth, keywords, sort, icon, enable, is_parent, is_display
        FROM
            content_category
        WHERE
            id=#{id}
    </select>

    <resultMap id="StandardResultMap"
               type="cn.tedu.tea.admin.server.content.pojo.vo.standard.CategoryStandardVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="author_name" property="authorName"/>
        <result column="parent_id" property="parentId"/>
        <result column="depth" property="depth"/>
        <result column="keywords" property="keywords"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="is_parent" property="isParent"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>

<!--    List<CategoryListItemVO> list();-->
    <select id="list" resultMap="listResultMap">
        SELECT
            id, name, parent_id, depth, keywords, sort, icon, enable, is_parent, is_display
        FROM
            content_category
        WHERE
            id=#{id}
    </select>

    <resultMap id="list"
               type="cn.tedu.tea.admin.server.content.pojo.vo.list.CategoryListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="author_name" property="authorName"/>
        <result column="parent_id" property="parentId"/>
        <result column="depth" property="depth"/>
        <result column="keywords" property="keywords"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="is_parent" property="isParent"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>

</mapper>